#container{
  height: 700px;
  width:700px;
  background-size: cover;
  margin: 0 auto;
  background-size: 100%;
}
.boxStyle{
  height: 30%;
  width: 30%;
  background-color: green;
  border: 1px solid black;
  display: inline-block;
  margin: 3px;
}
#column1{
  float: left;
}
img{
  height: 150px;
width: 150px;
position: absolute;
margin: 30px;
}

p{
  font-size: 150px;
  position: absolute;
  text-align: center;
  margin: 20px 0px 0px 50px;
}
.red{
  color:red;
}
.blue{
  color: blue;
}
